h1 {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.card {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.list-group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}


.col-8 {
  float: left;
  margin-right: 50px;
}

.col-4 {
  
  float: left;
}